@charset "utf-8";
/* CSS Document */

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
	padding-bottom: 16px;
	height: 100%;
	margin: auto;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
	margin-top: 35%;
	
}

/* Avatar image */
img.avatar {
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
	height: 60%;
	margin-bottom: 50%;
	
}

/* The "Want to login" text */
span.psw {
  float: right;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

}



