@charset "utf-8";
/* CSS Document */


script {
	text-align: center;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666;
  background-color: #F0E5E5;
}
p {
  text-align: center;
  padding: 30px;
}
a {
  text-align: center;
  margin: 10px;
  text-decoration: none;
  padding: 12px 30px;
}
/* ------Botton ------ */
.flat {
  color: #ffffff;
  background-color: #1abc9c;
}
.flat:hover {
  color: #ffffff;
  background-color: #48c9b0;
}
.flat:active {
  background: #16a085;
}


.text-box {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
  border: 1px dashed white;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 12px;
  margin-top: 0;
}
.text-box p {
  margin: 0;
}

body {
  background-color: #B2DFDB;
  color: white;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 24px;
	
/* ------lower bottons ------ */	
