@charset "utf-8";
/* CSS Document */

body {
	background-color:#7B94AD;	
}

h1 {
    font-family: "Roboto Medium";
    margin-left: 10px;	
	color: white;
}

h2 {
    font-family: "Roboto Medium";
    font-size: large;
    color: #000000;
}

a {
    color: #FFFFFF;
}

a:hover {
	color: #f5b0af;
	text-decoration: none;
}

p {
    font-family: "Lato";
    margin-left: 10px;	
}


