@charset "utf-8";
/* CSS Document */

body {
	background-color:#B2DFDB
}


.icon-bar {
  width: 100%;
  background-color:#82ADA9;
  overflow: auto;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}



.icon-bar a:hover {
  background-color:#AB5C59;
}

.active {
  background-color: #888;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
}

.box {
	align-content: center;
	text-align: center;
	border: 3px;
	border-color: black;
	width: 300;
	height: 50;
	margin: 20;
	padding: 20;
	background-color:#82ADA9;
 	overflow: auto;
	cursor: pointer;
}



.logout {
	text-align: center;
	margin-top: 75px;
	background-color:#82ADA9;
	cursor: pointer;

	
}

.container {
	align-content: center;
	margin-top: 40px;
	height: 380px;
}

.boxes ul a:hover {
	background-color: #AB5C59;
}

.logo {
	align-content: center;
	display: block;
	margin: auto;
	margin-top: 25px;
}

.pet {
	background-color:#82ADA9;
	padding: 20px;
	border: solid 1px;
	border-color: #ab5c59;

	
}

.filter{
	text-align: right;
	background-color: #82ADA9;
	padding: 20px;
	padding-right: 40px;
}

.foto {
	border-radius: 35%;
	width: 20%;
}


span {
	float: right;
	clear: right;

}

.btn {
	background-color: #ab5c59;
}

.dropdown-menu {
	background-color: #B2DFDB;
	padding: 20px;
	border: solid 2px;
	border-color: #B2DFDB;
}

script {
	text-align: center;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666;
  background-color: #F0E5E5;
}
p {
  text-align: center;
  padding: 30px;
}
a {
  text-align: center;
  margin: 10px;
  text-decoration: none;
  padding: 12px 30px;
}
/* ------Botton ------ */
.flat {
  color: #ffffff;
  background-color: #1abc9c;
}
.flat:hover {
  color: #ffffff;
  background-color: #48c9b0;
}
.flat:active {
  background: #16a085;
}


.text-box {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
  border: 1px dashed white;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 12px;
  margin-top: 0;
}
.text-box p {
  margin: 0;
}

body {
  background-color: #B2DFDB;
  color: white;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 24px;



