@charset "utf-8";
/* CSS Document */

nav{
  background-color: dimgrey;
	max-height: 70px;
}

body {
  background-image: url("../images/a9f1bdc1-4fb3-4790-8a78-9593b7fb615c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  background: rgba(175,125,125,1.00);
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 2px;
}

.button-large {
  background: #ab5c59;
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 35px;
  height: 35px;
  padding: 3px;
}

li {
  background-color: transparent;
  text-align: center;
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.dropup-item {
  background: #AC5B5A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.img1 .img2 .img3 {
	height: 40px;
}

ol {
	background-color: transparent;
	background: transparent !important;
	color: #ffffff;
}