@charset "utf-8";
/* CSS Document */

* {box-sizing: border-box}

body {
  background-color:#7B94AD;
  padding: 20px;
}

.icon-bar {
  width: 100%;
  background-color:#82ADA9;
  overflow: auto;
  margin-top: 15px;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}


.icon-bar a:hover {
  background-color:#AB5C59;
}

.active {
  background-color: #888;
}


.d-flex {
  padding-bottom: 20px;
}

.picture {
  display: inline-block;
}


.avatar {
  margin: auto;
  background-color: #f5b0af;
}

.logout {
  float: right;
  border: none;
  background-color: #4D667E;
  font-family: lato;
}


img .avatar {
  width: 40%;
  border-radius: 50%;
  
}

.button2 {
  	float: right;
  	color: white;
  	border-radius: 5px;
 	border: none;
  	cursor: pointer;
  	background-color: #4D667E;
  	padding: 7px 12px;
	font-family: lato;
}

.button1 {
  	float: right;
  	color: white;
  	border-radius: 5px;
 	border: none;
  	cursor: pointer;
  	background-color: #4D667E;
  	padding: 7px 12px;
	font-family: lato;
}


button:hover {
  opacity: 0.8;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  background: #ABC4DF;
  font-family: lato;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #7B94AD;
  outline: none;
  font-family: lato;
}


::placeholder {
  color: #848484;
  font-family: lato;
}


main { 
	margin-top: 20px;
	font-family: lato;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #f5b0af;
  color: #E2E2E2;
  padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-align: left;
  font-family: lato;
  border-radius: 10px;
}

.registerbtn:hover {
  opacity:0.6;
}


/* Picture */

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: 200ms;
  background-color: #f5b0af;
	
}
.avatar:hover img {
  opacity: .6;
}

.avatar:hover .upload {
  opacity: 1;
}


img1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
}

#to-hide {
  visibility: hidden;
}

.upload {
  width: 40px;
  height: 40px;
  background: #e2e2e2;
  border: none;
  box-shadow: 0 0 0 6px #fff;
  border-radius: 50%;
  outline: none;
  color: #000;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0;
  transition: 200ms;
}

.upload:hover {
  background: #555;
  color: #fff;
}

footer {
	margin-right: 15px;
    border: none;
	margin-bottom: 20px;
	margin-top: 20px;
}

.logout10 {
	margin-bottom: 120px;
	font-family: lato;
}
