@charset "utf-8";
/* CSS Document */

* {box-sizing: border-box}

body {
	background-color: #E5FFFF;	
}

.d-flex {
	padding-bottom: 30px;;
}

.picture {
	display: inline-block;
}

.logout1 {
	padding-top: 4px;
	padding-right: 4px;
}


.avatar {
	text-align: center;
  margin: 24px 0 12px 0;
}

.logout {
	float: right;
  border: none;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
	
}

header {
	
	
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  background: #4C9993;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #769D9A;
  outline: none;
}





::placeholder {
  color: white;
}




/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4C9993;
  color: #E2E2E2;
 padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
	text-align: left;
}

.registerbtn:hover {
  opacity:1;
}


/* Picture */

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: 200ms;
  background: #fff;
}
.avatar:hover img {
  opacity: .6;
}
.avatar:hover .upload {
  opacity: 1;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
}
#to-hide {
  visibility: hidden;
}
.upload {
  width: 40px;
  height: 40px;
  background: #e2e2e2;
  border: none;
  box-shadow: 0 0 0 6px #fff;
  border-radius: 50%;
  outline: none;
  color: #000;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0;
  transition: 200ms;
}
.upload:hover {
  background: #555;
  color: #fff;
}

footer {
	padding-right: 36px;
  margin: 15px 0 0px 0;
  display: inline-block;
  border: none;
	float: right;
}