@charset "utf-8";
/* CSS Document */

* {box-sizing: border-box}

body {
	background-color: #b2dfdb;
}


p {
	color: black;
	font-family: lato;
}

header{ 
	padding: 20px;
}

.pop {
	text-align: center;
  	justify-content: center;
}

.img2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e28f7c;
}

.text {
	font-size: 13pt;
	font-family: lato;
}

.button3 {
 	color: white;
 	border-radius: 5px;
 	border: none;
 	cursor: pointer;
  	background-color: #82ada9;
  	padding: 7px 12px;
  	text-align: center;
  	justify-content: center;
	font-family: lato;
}

.button2 {
  	float: right;
  	color: white;
  	border-radius: 5px;
 	border: none;
  	cursor: pointer;
  	background-color: #82ada9;
  	padding: 7px 12px;
	font-family: "Roboto Medium";
}

.button2:hover {
	background-color: #e28f7c;
}

/* The Modal (background) */
.modal {
  	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #e28f7c;
  margin: 50% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  font-family: lato;
/* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main {
	font-family: lato;
}


.picture {
	display: inline-block;
}

.avatar {
  margin: 24px 0 12px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.save {
	margin-right: 25px;
	margin-top: 5px;
	float: right;
  	border: none;
	background-color: #82ada9;
	text-align: center;
	font-family: lato;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
  opacity: 1.0;
}

/* Add padding to containers */
.container {
	margin-top: 5px;
	max-height: 350px;
  	padding: 36px;
	overflow-x: hidden; /* Hide horizontal scrollbar */
  	overflow-y: scroll; /* Add vertical scrollbar */
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  background: #82ada9;
  font-family: lato;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #e5ffff;
  outline: none;
  font-family: lato;
}

.missing {
  width: 100%;
  padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  background: #82ada9;
  font-family: lato;
}


.GENDER {
  width: 100%;
  padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  background: #82ada9;
  font-family: lato;
}


a {
	color: white;
	font-family: lato;
}

a:hover {
	color: white;
	text-decoration: none;
}

option {
	background-color: #e28f7c;
}

::placeholder {
  color: black;
  font-family: lato;
}



.yes {
	float: right;
	font-family: lato;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  text-align: right;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e28f7c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c8c8c8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c8c8c8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Set a style for the submit/register button */
.registerbtn {
  background-color:  #e28f7c;
  color: white;
  padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  border-radius: 10px;
  font-family: "Roboto Medium";
}

.registerbtn:hover {
  background-color: #82ada9
}


.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  transition: 200ms;
 
}

.avatar:hover img {
  opacity: .6;
}

.avatar:hover .upload {
  opacity: 1;
}

#to-hide {
  display: none;
  opacity: 1.0;
}

.upload {
  width: 40px;
  height: 40px;
  background-color: #82ada9;
  border: none;
  box-shadow: 0 0 0 6px #fff;
  border-radius: 50%;
  outline: none;
  color: #000;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0;
  transition: 200ms;
}

.upload:hover {
  background: #555;
  color: #fff;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  background-color: #e28f7c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #c8c8c8 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.link {
	color: #e5ffff;
	justify-content: center;
	text-align: center;
	
}

.link:hover {
	opacity: .6;
	text-decoration: underline;
}

p {
  color: white;
  font-family: lato; 
}
