@charset "utf-8";
/* CSS Document */

body {
	background-color:#b2dfdb;
}

.d {
	margin-top: 50px;
	text-align: center;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
}

/* Add padding to containers */
.container {
	margin-top: 5px;
	max-height: 270px;
  	padding: 36px;
	font-family: lato;
	overflow-x: hidden; /* Hide horizontal scrollbar */
  	overflow-y: scroll; /* Add vertical scrollbar */
}

.box {
	align-content: center;
	text-align: left;
	border: 3px;
	border-color: black;
	width: 300;
	height: 50;
	margin: 20;
	padding: 20;
	background-color: #e5ffff;
 	overflow: auto;
	cursor: pointer;
	padding-top: 5px;
}

.boxes ul a:hover {
	background-color: #ABC4DF;
}
.boxes{
	align-content: center;
	text-align: center;
	border: 3px;
	border-color: black;
	width: 300;
	height: 50;
	margin: 20;
	padding: 20;
 	overflow: auto;
	cursor: pointer;
}

.logout {
	text-align: center;
	margin-top: 75px;
	background-color:#82ADA9;
	cursor: pointer;
}


.boxes ul a:hover {
	background-color: #AB5C59;

}



/* for call owner button */
.button {
  float: left;
  border: 1px solid #82ada9;
  background-color: #82ada9;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  border-radius: 4px;
	font-family: "Roboto Medium";
}

.button:hover {
  background-color: #e28f7c;
  color: aliceblue;
  text-decoration: none;
}

a{
 text-decoration: none;
 color: aliceblue;
}

a:hover{
 text-decoration: none;
 color: aliceblue;	
}

/* Avatar image */ 
#Doggo{
  Paddiing-top: 20px;
  vertical-align: middle;
  height: 200px; 
  width: 200px;
  border-radius: 50%;
  boarder: 1px solid white;
}


/* header*/
.header{
	padding: 10px;
}

/*fonts*/
h6{
 font-family: lato;
}
p{
font-family: lato;
}

a{
	font-family: "Roboto Medium";
}

/*element centering*/
.center{
	justify-content: center;
}
/*header padding */ 
header {
	Padding: 10px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #e28f7c;
  color: white;
  padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  border-radius: 10px;
  font-family: "Roboto Medium";
}

.register {
  width: 100%;
  padding: 10px;
  margin: 0px 0 10px 0;
  display: inline-block;
  border: none;
  background: #ABC4DF;
  text-align: left;
  font-family: "Roboto Medium";
}

.registerbtn:hover {
  background-color: #82ada9;
}

.miss {
	background-color: #e28f7c;
}
