@charset "utf-8";
/* CSS Document */

body {
	background-color:#B2DFDB;

		
}

h1 {
    font-family: "Roboto Medium";
    margin-left: 10px;	
}

h2 {
    font-family: "Roboto Medium";
    font-size: large;
    color: #000000;
}

a {
   
    color: #FFFFFF;
}

a:hover {color: #FFFFFF;
	text-decoration: none;
}

p {
    font-family: "Lato";
    margin-left: 10px;	
}


.icon-bar {
  width: 100%;
  background-color:#8d8d8d;
  overflow: auto;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}



.icon-bar a:hover {
  background-color:#e28f7c;
}

.active {
  background-color: #888;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
}

.box {
	align-content: center;
	text-align: center;
	border: 3px;
	border-color: black;
	width: 300;
	height: 50;
	margin: 20;
	padding: 20;
	background-color:#82ADA9;
 	overflow: auto;
	cursor: pointer;
}



.logout {
	text-align: center;
	margin-top: 75px;
	background-color:#82ADA9;
	cursor: pointer;

	
}

.container {
	align-content: center;
	margin-top: 40px;
	height: 380px;
}

.boxes ul a:hover {
	background-color: #AB5C59;
}

.logo {
	align-content: center;
	display: block;
	margin: auto;
	margin-top: 25px;
}



.box2 {
	position: absolute;
	bottom: 309px;
	right: 0px;
	padding: 5px;
	background-color:#82ADA9;
 	overflow: auto;
	cursor: pointer;
	text-align: left;
	width: 125px;
	padding-left: 10px;
	border: double;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
	right: -560px;
	bottom: 251px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


