@charset "utf-8";
/* CSS Document */

body {
	background-color:#B2DFDB
}


.icon-bar {
  width: 100%;
  background-color:#82ADA9;
  overflow: auto;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}



.icon-bar a:hover {
  background-color:#AB5C59;
}

.active {
  background-color: #888;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
}

.box {
	align-content: center;
	text-align: center;
	border: 3px;
	border-color: black;
	width: 300;
	height: 50;
	margin: 20;
	padding: 20;
	background-color:#82ADA9;
 	overflow: auto;
	cursor: pointer;
}



.logout {
	text-align: center;
	margin-top: 75px;
	background-color:#82ADA9;
	cursor: pointer;

	
}

.container {
	align-content: center;
	margin-top: 40px;
	height: 380px;
}

.boxes ul a:hover {
	background-color: #AB5C59;
}

.logo {
	align-content: center;
	display: block;
	margin: auto;
	margin-top: 25px;
}

.pet {
	background-color:#82ADA9;
	padding: 20px;
	border: solid 1px;
	border-color: #ab5c59;

	
}

.filter{
	text-align: right;
	background-color: #82ADA9;
	padding: 20px;
	padding-right: 40px;
}

.foto {
	border-radius: 35%;
	width: 20%;
}


span {
	float: right;
	clear: right;

}

.btn {
	background-color: #ab5c59;
}

.dropdown-menu {
	background-color: #B2DFDB;
	padding: 20px;
	border: solid 2px;
	border-color: #B2DFDB;
}

footer {
	padding-top: 550px;
}



