@charset "utf-8";
/* CSS Document */

* {box-sizing: border-box}

body {
	background-color:#7B94AD;
	margin-top: 55px;
	padding: 10px;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: lato;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #4D667E;
  border-radius: 10px;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  } 
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 0px 0 25px 0;
  display: inline-block;
  border: none;
  background: #ABC4DF;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #DDE7F1;
  outline: none;
}

input:checked + .slider {
  background-color: #7B94AD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7B94AD;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

::placeholder {
	color: #848484;
	font-family: lato;
}

.signin {
  text-align: center;
  margin-top: 50px;
  font-family: lato;
}

.forgot {
	margin-top: 10px;
	font-family: lato; 
}

.forgot2 {
	font-size: 11pt;
	font-family: lato; 
}

a {
	color: white;
	font-family: lato;
}

a:hover {
	color: #4D667E;
}

p {
	color: white;
	font-family: lato; 
}

